<main class="container mt-2">
    <section class="row">
        <form action="" class="col-lg-5 col-md-6 col-sm-8 col-10">
            <div>
                <label for="email">Email</label>
                <i class="bi bi-at"></i>
                <input type="email" id="email" placeholder="Email">
            </div>
            <div>
                <label for="">Contraseña</label>
                <i class="bi bi-lock-fill"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            <input type="button" value="Entrar">
        </form>
    </section>
</main>