<main class="container">
    <section class="row">
        <article class="col-6"> 
            <div>
                <h6>Nombre:</h6>
                <p>Lorem ipsum dolor sit amet.</p>
                <input type="button" value="Cambiar" [routerLink]="['nombre']">
            </div>
            <hr>
            <div>
                <h6>Email:</h6>
                <p>Lorem ipsum dolor sit amet.</p>
                <input type="button" value="Cambiar" [routerLink]="['email']">
            </div>
            <hr>
            <div>
                <h6>Contraseña:</h6>
                <p>Lorem ipsum dolor sit amet.</p>
                <input type="button" value="Cambiar" [routerLink]="['contraseña']">
            </div>
            <hr>
        </article>
    </section>
</main>