
<main class="container">
    <section class="row">
        <article>
            <h4>Mi cuenta</h4>
            <ul>
                <li [routerLink]="['usuario','cambios']">Datos</li>
                <li [routerLink]="['usuario','pedidos']" >Pedidos</li>
                <hr>
                <li (click)="logout()" >
                     Cerrar sesion
                </li>
            </ul>
        </article>
        <article>
            <h4>Productos</h4>
            <ul>
                <li>
                    <i [routerLink]="['producto/crear']">Crear</i>
                </li>
                <li>
                    <!-- To do -->
                    <i [routerLink]="['usuario','productos']">Listar</i>
                </li>
            </ul>
        </article>
    </section>
</main>