main{

    margin-top: 14px;

    section{

        article{

            ul{
                padding: 0px 10px;
                list-style: none;
                
                li{
                    cursor: pointer;
                    margin: 10px 0px;
                }
            }
        }
    }

}