<main class="container">
    <section class="row">
        <app-product-card class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2" *ngFor="let product of products" [product]="product"></app-product-card>
    </section>

    <div class="botoneraPaginacion">
        <button [disabled]="first" class="btn btn-secondary btnAtras" (click)="previousPage()">Anterior</button>
        <span>Pagina {{(page+1)}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
        <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="nextPage()">Siguiente</button>
    </div>
</main>