<footer class="container-fluid bg-dark">
    <section class="container">
        <article class="row">
            <div class="col-auto">
                <h5>Village Store</h5>
                <p>Diseñado por Deivyth</p>
            </div>
            <div class="col-auto social-network">
                <h5>Redes Sociales</h5>
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </article>
    </section>
</footer>
