<main class="container mt-2">
    <section class="row">
        <form action="" class="col-lg-5 col-md-6 col-sm-8 col-10">
            <div>
                <label for="email">Foto</label>
                <input type="file">
            </div>
            <div>
                <label for="">Nombre</label>
                <i class="bi bi-box2-heart"></i>
                <input type="text" placeholder="Nombre">
            </div>
            <div>
                <label for="">Descripcion</label>
                <i class="bi bi-pencil-fill"></i>
                <textarea placeholder="Descripcion"></textarea>
            </div>
            <div>
                <label for="">Precio</label>
                <i class="bi bi-currency-euro"></i>
                <input type="text" placeholder="Precio">
            </div>
            <input type="button" value="Crear">
        </form>
    </section>
</main>