<p-toast></p-toast>

<main class="container">
    <section class="row">
        <article class="col-md-7 col-12">
             <app-cart-card *ngFor="let item of cart" [item] = "item" class="row"></app-cart-card>
        </article>
        <article class="col-md-4 col-12 offset-md-1">
            <div class="row summary">
                <h4>Resumen Pedido</h4>
                <p>Precio total:  {{totalPrice | currencyEUR}}</p>
                <button class="btn btn-primary" (click)="createOrder()" [disabled]="!validated" >Comprar</button>
            </div>
        </article>
    </section>
</main>