
<main class="container">
    <section class="row">
        <article>
            <h4>Mi cuenta</h4>
            <ul>
                <li [routerLink]="['usuario/cambios']">Datos</li>
                <li>Pedidos</li>
                <hr>
                <li>Cerrar sesion</li>
            </ul>
        </article>
        <article>
            <h4>Productos</h4>
            <ul>
                <li>
                    <i [routerLink]="['producto/crear']">Crear</i>
                </li>
            </ul>
        </article>
    </section>
</main>