<main class="container mt-2" *ngIf="product">
    <section class="row">
        <div class="col-md-5 col-12">
            <img *ngIf="product.getImage()" [src]="'data:image/jpeg;base64,'+ product!.getImage()">
            <img *ngIf="product.getImage() == undefined" src="./assets/box.png">
        </div>
        <article class="col-md-4 col-6">
            <div class="info">
                <h4>{{product.getName()}}</h4>
                <p>{{product.getDescription()}}</p>
            </div>
        </article>
        <article class="col-md-3 col-12">
            <div class="row control">
                <label for="">Precio:</label>
                <h5>{{product.getPrice() | currencyEUR}}</h5>
                <form *ngIf="cartForm" [formGroup]="cartForm" novalidate autocomplete="off">
                    <div class="form-group">
                        <label>Cantidad: </label>
                        <div class="form-item">
                            <input type="number" formControlName="quantity" min="0">
                        </div>

                        <div *ngIf="(cartForm.get('quantity')!.dirty && cartForm.get('quantity')!.errors)">
                            <small class="form-text text-danger" *ngIf="cartForm.get('quantity')!.errors!['required']">
                                Este campo es requerido
                            </small>
                    
                            <small class="form-text text-danger" *ngIf="cartForm.get('quantity')!.errors!['min']">
                                Debe añadir un articulo
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="button" class="btn btn-primary w-100" value="Comprar" (click) = "buy()" [disabled]="cartForm.invalid">
                        </div>
                        <div class="col-12">
                            <input type="button" class="btn btn-outline-primary w-100 mt-2" value="Añadir a la cesta" (click) = "addToCart()" [disabled]="cartForm.invalid">
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </section>
</main>