main{
    section{
        article{
            img{
                height: 100%;
            }

            div.control{
                padding: 10px 0px;
                border: 1px solid #000;
                border-radius: 4px;

                label{
                    font-size: 0.7em;
                }
            }
        }
    }
}